python-dotenv

pydantic
instructor

anthropic
openai
backoff

# jsons and schemas
jsonpath-ng==1.6.0 # update_or
genson

# api & server
fastapi
gunicorn
uvicorn

# database
firebase-admin

pandas
pymongo


#vectorstore
chromadb
langchain

